{% extends 'base.html.twig' %}

{% block title %}Hello UploadController!{% endblock %}

{% block body %}

    <form method="post" enctype="multipart/form-data">
        <input name="upload" type="file">
        <label>
            Title
            <input name="title" type="text">
        </label>
        <input type="submit" value="Upload">
    </form>

{% endblock %}
